.story {
    -fx-background-color: WHITE;
    -fx-border-width: 1 2 4 1;
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 5;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.story > .label {
    -fx-font-weight: BOLD;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-padding: 5px;
}